@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<h1>About US !</h1>

<div>
    <div class="col">
        <div class="nav-bar">
            <ul class="menu">
                <li><a href="index.html">HOME</a></li>
                <li><a href="Laptopartikuj.html">BUY</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="Contactus.html">Contact us</a></li>

            </ul>

        </div>
        <div class="welcome">
            <a href="https://www.facebook.com/protech" class="btn btn-primary">Like our Page</a>
            <a href="Contactus.html" class="btn btn-primary">Contact us</a>
        </div>

        </div>
 
