<div class="container mt-3">
    <div class="jumbotron jumbotron-fluid bg-white">
        <h2 class="display-4 p-3">Contact</h2>
        <address class="lead p-3">
            University of Business and Technology-UBT<br />
            user@ubt-uni.net<br />
            10000 Prishtinë, Kosova
        </address>
    </div>
</div>
