<div class="container mt-3">
    <div class="jumbotron bg-white">
        <h3 class="display-4">Welcome to Job Finder</h3>
        <p class="lead">Find a job or recruit workers in just a few simple steps.</p>
        <hr class="my-4" />
        <p>Create an account now!</p>
        <button class="btn btn-primary" href="#" data-toggle="tooltip" title="This button doesn't work (Yet)">Register</button>
    </div>
</div>