<div class="container w-75">
    <div class="card my-5">
        <div class="card-header text-primary">
            <h5>Username</h5>
        </div>
        <div class="card-body">
            <div class="text-muted mb-2" style="font-size:0.8rem">25 min ago</div>
            <h5 class="card-title text-info font-weight-bold">This is the title</h5>
            <p class="card-text">
                Some random text idk. Why the heck does VS not have Lorem+tab option its so stupid like cmon man
                i dont wanna be wasting time writing sample text when i could be doing other work instead. Ok this should be about enough to see how it looks
            </p>
        </div>
        <div class="card-footer">
            <a class="text-info text-decoration-none font-weight-bold" href="#">Save <i class="fas fa-plus"></i></a>
        </div>
    </div>

    <div class="card my-5">
        <div class="card-header text-primary">
            <h5>Username</h5>
        </div>
        <div class="card-body">
            <div class="text-muted mb-2" style="font-size:0.8rem">25 min ago</div>
            <h5 class="card-title text-info font-weight-bold">This is the title</h5>
            <p class="card-text">
                Some random text idk. Why the heck does VS not have Lorem+tab option its so stupid like cmon man
                i dont wanna be wasting time writing sample text when i could be doing other work instead. Ok this should be about enough to see how it looks
            </p>
        </div>
        <div class="card-footer">
            <a class="text-info text-decoration-none font-weight-bold" href="#">Save <i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>