@{
    Layout = "~/Views/Shared/_Clean_Layout.cshtml";
    ViewData["Title"] = "LandingPage";
}

<div id="landing-container">
    <img src="~/images/landing-page-bg.svg" alt="" />
    <div class="">
        <h1>Welcome to Job Finder</h1>
        <p>Find a job with just a few simple steps. Register now! </p>
        <div class="mb-3">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mr-2">Register</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login</a>
        </div>
            <a asp-controller="Posts" asp-action="Index" class="text-primary">Explore as Guest <i class="fas fa-arrow-right"></i></a>
    </div>
</div>