@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="d-flex justify-content-around p-5 align-items-center">
    <img style="width:40%;" src="~/images/access-denied.svg" alt="" />
    <div>
        <h2 class="font-weight-bold" style="color: #F05D5E">Access Denied</h2>
        <h4 style="color: #F05D5E">You dont have access to this page!</h4>
    </div>
</div>
