@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="d-flex justify-content-around p-5 align-items-center">
    <img style="width:40%;" src="~/images/access-denied.svg" alt="" />
    <div>
        <h2 class="text-danger font-weight-bold">403 Forbidden</h2>
        <h4 class="text-danger">You dont have access to this page!</h4>
    </div>
</div>
